In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import imshow
import sklearn
import math
from scipy import linalg
from scipy.spatial.distance import cdist
import scipy.sparse.csgraph
import sklearn.neighbors
from scipy.sparse.linalg import eigs
import scipy.io
from scipy.sparse import csr_matrix
from PIL import Image
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))
import random

Current working directory: C:\Users\prateeksh\OneDrive - DPR Construction\Desktop\MS\Computational Data Analysis\Project

In [2]:
#reading the articles into a panda dataframe and converting it into a matrix
import pandas as pd
import random
p = 0.05  # 5% of the lines
# keep the header, then take only 5% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
data = pd.read_csv(
         'data/CNN.csv',
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p
)
#data =  pd.read_csv('data/CNN.csv')
print(data)
data_updated = data.to_numpy()
print(data_updated)

                                             id  \
0      00128f1ba30d5e9e0f17df83285a1bc2072e2f01
1      001ee59c375363263821474d40e4386ab91d5145
2      00672d5c2055608b747a90a0f5ae32c5b340173e
3      006bca7d18b3c6889ce567133566d22e491d27c1
4      009e53253b0ba1823c4a08dfd6e4446ca9b02388
...                                         ...
14143  ffed6787eff6f1e01c8019328f5dcd53c697ad07
14144  ffee67cf410c32857f263cb5b8a15b492194ac53
14145  fff95a57a982743cc4752dc154a8f7ba701304a5
14146  fffb34770ef63478d7f1154bc473f95f1efbc769
14147  fffc82af3daa218f2e08e69ec325c2e1847a5490

                                                 article  \
0      A woman has been charged with reckless manslau...
1      These days we pick up a packet of frozen prawn...
2      By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...
3      Earlier this season I picked Thierry Henry as ...
4      (CNN) -- Big-spending English club Manchester ...
...                                                  ...
14143  By . Becky Evans . PUBLISHED: . 15:08 EST, 3 A...
14144  (CNN) -- A late Sergio Ramos goal earned Real ...
14145  By . Stephanie Linning . A reclusive pensioner...
14146  Much like Sam from the Dr. Seuss book, 'Green ...
14147  Real Madrid are looking to extend their 21-gam...

                                              highlights
0      Claudia Yanira Hernandez Soriano, 25, and Juan...
1      'I'll never eat a king prawn again' says Wicke...
2      Unveiling at 10am PST, 6pm GMT .\nInvitation i...
3      Sportsmail columnist Martin Keown was honoured...
4      English champion Manchester City posts loss of...
...                                                  ...
14143  PC Eileen Arthurs, 52, accessed the police nat...
14144  Sergio Ramos headed goal earns Real Madrid sec...
14145  Denis Walsby was found underneath stack of pap...
14146  'It tastes like cow poop!' said one young boy ...
14147  Real Madrid beat San Lorenzo in Club World Cup...

[14148 rows x 3 columns]
[['00128f1ba30d5e9e0f17df83285a1bc2072e2f01'
  "A woman has been charged with reckless manslaughter after her boyfriend's mother tried to stop them fighting and suffered a fatal heart attack. Claudia Yanira Hernandez Soriano, 25, and Juan Francisco Martinez Rojas, 28, started punching and scratching each other after they returned to their Bergen, New Jersey home following a party early on Monday. When Ana Angelina Rojas-Jovel, 45, tried to break them up, Hernandez Soriano assaulted the woman, according to the Bergen County Prosecutor. 'During the assault, the victim apparently suffered a cardiac event which resulted in her death,' Prosecutor John L. Molinelli said in a\xa0statement. Fight: Claudia Yanira Hernandez Soriano, 25, above, and her boyfriend Juan Francisco Martinez Rojas, 28, started punching and scratching each other at their home on Monday when his mother intervened . Injured: Martinez Rojas' booking shot shows the scratches on his face from the domestic dispute . A seven-year-old child also witnessed the fight, according to the prosecutor, but he did not reveal the relationship between the adults and the youngster. Police responded to a 911 call from the apartment just after 4am on Monday and when they arrived, they found Rojas-Jovel dead on a bedroom floor. 'There were no obvious signs of trauma to the victim, however... the [couple] displayed signs of injury and appeared to have been involved in a domestic assault,' the prosecutor said. In their booking photos, both Hernandez Soriano and Martinez Rojas have scratches on their faces and necks. The pair were interviewed, as were the child and other residents. Scene: Soriano allegedly then assaulted the woman,\xa0Ana Angelina Rojas-Jovel, and she suffered a cardiac arrest at the first-floor apartment at the house (pictured) and died before police arrived at the scene . The Bergen County Medical Examiner's Office conducted an autopsy on Rojas-Jovel's body, but results were pending toxicology tests, the prosecutor said. Hernandez Soriano was charged with manslaughter, endangering the welfare of a child, domestic violence simple assault and hindering apprehension, according to authorities. Molinelli said Hernandez Soriano also hid evidence - but would not detail what it was - which investigators later recovered in a search at the crime scene. She was held at the Bergen County Jail on $250,000 bail. Martinez Rojas was also charged with child endangerment and domestic violence simple assault and sent to the county jail on $75,000 bail. A court hearing has been scheduled for Thursday morning at Hackensack Superior Court."
  'Claudia Yanira Hernandez Soriano, 25, and Juan Francisco Martinez Rojas, 28, started fighting after returning from a party on Monday morning .\nWhen his mother, Ana Angelina Rojas-Jovel, 45, tried to stop them, Hernandez Soriano allegedly assaulted her .\nShe suffered cardiac arrest and police arrived to find her dead .\nA seven-year-old girl witnessed the fight .']
 ['001ee59c375363263821474d40e4386ab91d5145'
  "These days we pick up a packet of frozen prawns from the supermarket almost without thinking. They’re healthy, flavour-some and cheap enough to count as an affordable treat, perhaps on a skewer for a barbecue or daintily arranged for a dinner party starter. If we give even a moment’s thought about where they come from we probably imagine a sun-burnished fisherman skilfully tossing his nets out into the tropical waters of the Indian Ocean or South China Sea before hauling in his valuable catch. Nothing, I’m afraid, could be further from the truth. Intensively farmed: Jumbo tiger prawns are not so appealing after seeing the putrid factories where feed is processed for the prawn farms . As an environmental journalist, I’ve visited Thailand, the world’s leading exporter of farmed king prawns, many times to investigate the prawn trade, and what I discovered is so horrifying I will never eat another king prawn again. Every aspect of this trade is stomach churning: from the putrid factories that process the feed to the prawn farms that pollute the oceans. Welcome to the rotting, stinking and very dangerous world of the prawn trade, a world where industrial fishing boats exploit illegal slave labour to harvest the so-called ‘trash fish’ on which the prawns are fed and leave devastating environmental damage in their wake. I began my investigation aboard the trawlers that plunder the seas to provide the feed for the prawn farms along Thailand’s shoreline. While on board, I discovered that trafficked labourers from Burma and Cambodia are forced to work 20 hours a day, seven days a week, on boats where they are often beaten, abused, even killed by unscrupulous skippers. These men suffer appalling treatment — some even dying on ship and having their bodies tossed casually overboard — just so we can taste king prawns in a lunchtime sandwich or Friday night curry. The damage to our oceans is also devastating. Watching a haul of trash fish being . pulled over the side of a Thai fishing boat is a heart-breaking sight: a . muddy mess of seaweed and rocks mixed with a vast variety of small or . juvenile sea creatures: crabs, starfish, sponges and small fish that . will not get the chance to grow any bigger. 'Horrifying': Jim Wickens says that now he has seen Thailand's king prawn trade first hand, he will never eat a one again . It was a sight I had to get used to as I worked undercover on these boats. My technique for getting aboard was a dangerous one. More than once I had to throw myself into the sea so that a passing trash fish boat was obliged to ‘rescue’ me. From my vantage point on deck, I saw how this grisly industry operates at first hand. Every few hours, a whistle would sound and a net would be hauled up from the depths, raised above the deck and, on a signal from the captain, the contents spilled out. Panicked marine creatures including sea snakes, baby octopus, sea horses, puffer fish and pretty pink crabs would scurry across the deck, only to be crushed underfoot and shovelled up into a heap before being thrown into the hold. These trawlermen employ one of the most environmentally damaging forms of commercial fishing to be found anywhere in the world: bottom trawling. This practice, which sees the nets weighted down so that they sink to the sea bed, is enormously destructive. Entire tranches of marine life are effectively swept away and habitats and ecosystems that might have been there for centuries are destroyed. Breeding populations of many marine species are being all but destroyed and with them the futures of local fishermen who, until the arrival of the bottom trawlers, had been harvesting sustainable catches of local fish for decades. But no longer. Back on deck, the often enslaved crews, who are tricked into coming to Thailand by the false promise of generous wages, are woken by the deafening blare of an air horn mounted above their cramped sleeping quarters. Exhausted, but too frightened to disobey an order, they stumble to the deck to sort through the latest trash fish catch. It’s only really the rocks and the weed that go over the side; everything else is shovelled into an already stinking hold. Many of these boats do have ice-controlled holds, but they are reserved for commercially valuable catches. The trash fish go straight into a filthy compartment where, with boats often at sea for days at a time, they soon start to rot. Damage: The Thai fishing trade leaves serious environmental damage in its wake and pollution in the ocean . By the time they return to port, the stench from these holds is almost unimaginable and there are regular reports of crewmen fainting and even dying after they’ve been sent into the holds to help with unloading, only to be overcome by the toxic fumes. These men are often at sea for months, even years at a time, thanks to the unscrupulous practice of transferring crew from a returning vessel loaded with fish, to an empty trawler setting out. In such harsh working conditions, where disobedience is often met with a beating from a metal pipe or even a bullet, suicides are common and murders not unknown. One crewman I spoke to had been shot at four times and had seen at least one crewmate killed. These desperate men are dying unnoticed, far out at sea, hundreds of miles from their homes and family.Once the trawlers return to port, the commercially valuable fish are unloaded first and sold at the dockside market. Putrid: The king prawns are fed on 'trash fish' It is only later in the day, when the market has cleared and the port almost seems to have shut down, that the trash fish trucks arrive. Time and again, I witnessed the boats’ stinking holds being unloaded and their rotting cargo shovelled into ten-tonne dumper trucks. From here, it is a very smelly ride to an industrial processing plant, where the feed destined for prawn farms is produced. It is produced amid swarms of flies, temperatures that can approach 38C and a sweltering humidity of 100 per cent. The stench is foul. Load upon load of putrid fish and decaying marine creatures is poured into fetid storage containers. Every now and then you spot the eye of a beautiful coral fish or the glint of a long-dead starfish as the noxious mess is crushed and passed through a series of ovens until the final product — fish flour — is obtained. Transformed into pellets, this is then driven to the prawn farms that have all but destroyed Thailand’s mangrove forests. If you’d driven down the coast of the Gulf of Thailand 20 or 30 years ago you’d have seen mile after mile of these flooded forests, an incredible breeding ground for fish and a natural barrier that protected Thai farmers and their land from tsunamis. Today, however, most of these forests are gone. In their place is mile after mile of prawn ponds, their valuable contents protected by high fencing and security lighting. In these ponds, prawns are farmed on an industrial scale to meet booming demand from consumers in North America and Europe. In Britain, we consume about 85,000 tonnes of prawns a year, two-thirds of which are warm-water prawns like those farmed in Thailand. The trade is worth £450\u2009million in Britain alone. Prawns need brackish, slightly salty water, which is why former mangrove forests that have been cleared of their trees and cut off by sluices from the sea are ideal. But prawns also need feeding — a lot of feeding. Spend a day peering through one of those security fences and you’ll see men coming out every few hours to toss another bucket of ‘feed’ to the growing prawns. I watched from the side of one prawn pond as they prepared to harvest the fattened prawns. The sluices were opened and the prawns caught in a filter as the water drained out. They are beheaded and frozen in minutes but, in many cases, the filthy lagoon water, a grim cocktail of several months’ worth of excreta and food waste, is simply washed out into what’s left of the surrounding mangrove forests or straight out to sea. Concerned about Thailand: In Hugh's Fish Fight, TV chef Hugh Fearnley-Whittingstall went to examine farmed King Prawns, at Asia's biggest prawn market near Bangkok . Thailand does have marine conservation laws designed to protect both its coastal waters and specially designated marine conservation reserves. But these are poorly policed and routinely ignored by ruthless commercial fishing fleets whose only concern is short-term profit at any cost. Meanwhile, thousands of miles from this marine destruction, we unthinkingly bite into a delicious skewer of tiger prawns, perhaps coated with garlic butter. But what are the alternatives to industrially produced prawns? Some certification schemes for so-called ‘responsibly produced’ prawns do exist, and marginal improvements to farming practices are beginning to take place. But in my research I have found that none of the certification schemes properly address the damage being done to local communities or the destruction to the marine environment caused by trash fishing. King prawns can also be produced organically. Naturally, this makes them very expensive for supermarket customers. But even organic prawn farming usually requires the destruction of wild mangrove forest — even if trash fishing has been avoided. As consumers, however, we can look elsewhere. There are cold-water prawns from the North Atlantic, which currently account for about one-third of all prawns eaten in this country. Dublin Bay prawns from the Irish Sea\xa0 — most of which are currently exported to France as langoustine — are another alternative. Neither, however, is currently available as cheaply or conveniently as Thailand’s tiger prawns. The only answer, I believe, is to stop eating warm-water king prawns altogether. I, for one, don’t want slave labour and the destruction of the ocean mixed in with my prawn cocktail. Do you?"
  "'I'll never eat a king prawn again' says Wickens after seeing Thai prawn trade .\nThe environment is left devastated and polluted by unscrupulous trawlers .\nTrafficked labourers from Burma and Cambodia work in appalling conditions ."]
 ['00672d5c2055608b747a90a0f5ae32c5b340173e'
  "By . Rob Waugh . UPDATED: . 04:54 EST, 28 September 2011 . Apple has made the launch date of . iPhone official - at last. But the company hasn't said what new models, . if any, it will be launching, instead inviting journalists to a 'Special . Event', with the cryptic invitation 'Let's Talk iPhone'. The company remained typically tight-lipped about what the 'event' might launch - but it seems set to be epic. For . the first time, the event is being held at the company's Cupertino HQ in California - . at the famous address, 1, Infinite Loop, a geeky programming joke. Few . outsiders ever visit the complex - so even seeing the company on its . home turf is sure to ignite a media frenzy. Let's talk iPhone: The Apple invitation, with the date, the time and the location . Every previous event has been held at conference venues nearby. Apple . staff have been 'banned' from holidays in the first two weeks of . October in America, and tech insiders expect products from the launch to . appear in stores shortly after - probably on October 14. All the signs now point towards an early October launch for the gadgets. Tim Cook, chief operating officer of Apple Inc, is expected to launch the iPhone 5 on October 4. The event will be his first big product introduction . 'Having . seen first-hand how Apple packs its staff inside its stores for iPhone . launches does suggest that whatever new product they announce\xa0 is . imminent,' says Luke Peters, editor of T3. Tech insiders believe that any new iPad is far off in the distance, and that the current flurry of components, rumours and leaks refer inevitably to new models of iPhone. The idea that there are two models - one sporting the fast A5 processor inside iPad 2, and a cheaper model with lower-tech components, seems likely. Al Gore, a board member of Apple Computer, seemed to give the biggest hint yet of what the tech giant had in store for us in October - referring to 'the new iPhones released next month.' This seemed to confirm two rumours: one, that there would be more than one model, and two, that they would both appear late in October. Mr Gore's statements - at a conference in South Africa - also tied in closely with the most credible of the recent iPhone rumours. Al Gore, a board member of Apple Computer, seemed to give the biggest hint yet of what the tech giant had in store for us in October - referring to 'the new iPhones released next month' While the iPhone 5 is much anticipated, there is more at stake than usual. This is because, since legendary . outgoing CEO and co-founder Steve Jobs announced his departure, it will be newly installed CEO Tim Cook’s first big product . introduction, and the place where the public will experience a new iPhone without Jobs's cultish presentation. People . have wondered whether Apple can continue to compete without its creative . driving force - especially as rivals such as Samsung continue to gain . ground on the tech giant. Apple's new iPhone is now competing with hi-tech touchscreens such as Samsung's Galaxy S II - and the battle has also become the subject of a bitter legal dispute ."
  "Unveiling at 10am PST, 6pm GMT .\nInvitation is four Apple icons .\nNo statement on whether it's iPhone 5 or new iPhone 4 .\nRumours of 'voice controlled' iPhone circulate ."]
 ...
 ['fff95a57a982743cc4752dc154a8f7ba701304a5'

In [3]:
#reading all the list of topics excel sheets i.e. countries, politicians, hot political issues, US states
countries = pd.read_excel('data/Countries.xlsx')
politicians = pd.read_excel('data/Politicians.xlsx')
#issues = pd.read_excel('data/Hot Political Issues.xlsx')
#states = pd.read_excel('data/US States.xlsx')
  
countries_updated = countries.to_numpy()
politicians_updated = politicians.to_numpy()
#issues_updated = issues.to_numpy()
#states_updated = states.to_numpy()

print(countries_updated)
print(politicians_updated)
#print(issues_updated)
#print(states_updated)

[['United States']
 ['China']
 ['Japan']
 ['Germany']
 ['United Kingdom']
 ['India']
 ['France']
 ['Italy']
 ['Canada']
 ['South Korea']
 ['Russia']
 ['Brazil']
 ['Australia']
 ['Spain']
 ['Mexico']]
[['Biden']
 ['Trump']
 ['Sanders']
 ['Harris']
 ['Pence']
 ['Warren']
 ['Bloomberg']
 ['Buttigieg']
 ['Beto']
 ['Cheney']
 ['Cruz']
 ['DeSantis']
 ['Haley']
 ['Abott']
 ['Newsom']
 ['Noem']
 ['Cortez']
 ['Pompeo']]

In [4]:
#editing articles data matrix 'data_updated' to include indicator columns for individual topics in each list
#we will create an editied articles data matrix for each list of topic

data_countries = data.copy()
data_countries=pd.concat([data_countries,pd.DataFrame(columns=countries_updated[:,0].tolist())])
data_countries

,id,article,highlights,United States,China,Japan,Germany,United Kingdom,India,France,Italy,Canada,South Korea,Russia,Brazil,Australia,Spain,Mexico
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,"Claudia Yanira Hernandez Soriano, 25, and Juan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,'I'll never eat a king prawn again' says Wicke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...","Unveiling at 10am PST, 6pm GMT .\nInvitation i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Sportsmail columnist Martin Keown was honoured...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,English champion Manchester City posts loss of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,ffed6787eff6f1e01c8019328f5dcd53c697ad07,"By . Becky Evans . PUBLISHED: . 15:08 EST, 3 A...","PC Eileen Arthurs, 52, accessed the police nat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14144,ffee67cf410c32857f263cb5b8a15b492194ac53,(CNN) -- A late Sergio Ramos goal earned Real ...,Sergio Ramos headed goal earns Real Madrid sec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14145,fff95a57a982743cc4752dc154a8f7ba701304a5,By . Stephanie Linning . A reclusive pensioner...,Denis Walsby was found underneath stack of pap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14146,fffb34770ef63478d7f1154bc473f95f1efbc769,"Much like Sam from the Dr. Seuss book, 'Green ...",'It tastes like cow poop!' said one young boy ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14147,fffc82af3daa218f2e08e69ec325c2e1847a5490,Real Madrid are looking to extend their 21-gam...,Real Madrid beat San Lorenzo in Club World Cup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#data_issues = data.copy()
#data_issues=pd.concat([data_issues,pd.DataFrame(columns=issues_updated[:,0].tolist())])
#data_issues

In [6]:
data_politicians = data.copy()
data_politicians=pd.concat([data_politicians,pd.DataFrame(columns=politicians_updated[:,0].tolist())])
data_politicians

,id,article,highlights,Biden,Trump,Sanders,Harris,Pence,Warren,Bloomberg,...,Beto,Cheney,Cruz,DeSantis,Haley,Abott,Newsom,Noem,Cortez,Pompeo
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,"Claudia Yanira Hernandez Soriano, 25, and Juan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,'I'll never eat a king prawn again' says Wicke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...","Unveiling at 10am PST, 6pm GMT .\nInvitation i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Sportsmail columnist Martin Keown was honoured...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,English champion Manchester City posts loss of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,ffed6787eff6f1e01c8019328f5dcd53c697ad07,"By . Becky Evans . PUBLISHED: . 15:08 EST, 3 A...","PC Eileen Arthurs, 52, accessed the police nat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14144,ffee67cf410c32857f263cb5b8a15b492194ac53,(CNN) -- A late Sergio Ramos goal earned Real ...,Sergio Ramos headed goal earns Real Madrid sec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14145,fff95a57a982743cc4752dc154a8f7ba701304a5,By . Stephanie Linning . A reclusive pensioner...,Denis Walsby was found underneath stack of pap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14146,fffb34770ef63478d7f1154bc473f95f1efbc769,"Much like Sam from the Dr. Seuss book, 'Green ...",'It tastes like cow poop!' said one young boy ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14147,fffc82af3daa218f2e08e69ec325c2e1847a5490,Real Madrid are looking to extend their 21-gam...,Real Madrid beat San Lorenzo in Club World Cup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#data_states = data.copy()
#data_states=pd.concat([data_states,pd.DataFrame(columns=states_updated[:,0].tolist())])
#data_states

In [8]:
#counting number of instances of values of topics of each list in each article and setting the value of topic value column
#for the article as 1 if it the count exceeds a threshold value
import re
t = 1
data_countries_arr = data_countries.to_numpy()
for i in range(len(countries_updated)):
    word = countries_updated[i,0]
    for j in range(len(data_countries_arr)):
        string = data_countries_arr[j,1]
        c = len(re.findall(word, string,flags=re.IGNORECASE)) 
        if c >= t:
            data_countries[countries_updated[i,0]].values[j] = 1
        c = 0
data_countries

,id,article,highlights,United States,China,Japan,Germany,United Kingdom,India,France,Italy,Canada,South Korea,Russia,Brazil,Australia,Spain,Mexico
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,"Claudia Yanira Hernandez Soriano, 25, and Juan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,'I'll never eat a king prawn again' says Wicke...,NaN,1,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...","Unveiling at 10am PST, 6pm GMT .\nInvitation i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Sportsmail columnist Martin Keown was honoured...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,English champion Manchester City posts loss of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,ffed6787eff6f1e01c8019328f5dcd53c697ad07,"By . Becky Evans . PUBLISHED: . 15:08 EST, 3 A...","PC Eileen Arthurs, 52, accessed the police nat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14144,ffee67cf410c32857f263cb5b8a15b492194ac53,(CNN) -- A late Sergio Ramos goal earned Real ...,Sergio Ramos headed goal earns Real Madrid sec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14145,fff95a57a982743cc4752dc154a8f7ba701304a5,By . Stephanie Linning . A reclusive pensioner...,Denis Walsby was found underneath stack of pap...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14146,fffb34770ef63478d7f1154bc473f95f1efbc769,"Much like Sam from the Dr. Seuss book, 'Green ...",'It tastes like cow poop!' said one young boy ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
14147,fffc82af3daa218f2e08e69ec325c2e1847a5490,Real Madrid are looking to extend their 21-gam...,Real Madrid beat San Lorenzo in Club World Cup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
x = data_countries[data_countries['South Korea'] == 1]
x

,id,article,highlights,United States,China,Japan,Germany,United Kingdom,India,France,Italy,Canada,South Korea,Russia,Brazil,Australia,Spain,Mexico,Analysis,Polarity
16,015a8c6844420202dafaf8aa88e51f83c2747ab0,England is the only developed country producin...,'Deeply worrying' report shows scale of proble...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,Positive,0.102401
80,05735dc02fed0630b660e140048d25ea556cffea,"Way back in the mists of time, when schoolkids...",Speculation about what baby boy will be called...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,Positive,0.046262
308,145568a553d4a49a1084b391a93dc5a7fb6476c2,"(CNN) -- Usain Bolt, the anchor of Jamaican sp...","4x100m team of Carter, Frater, Blake and Bolt ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,Positive,0.078871
348,1675332735a8a6bda427c3dbe5579657861c5f99,(CNN) -- Poof. Gone. That's what will happen t...,Americans are expected to let two vacation day...,NaN,NaN,1,NaN,NaN,NaN,1,1,1,1,NaN,1,NaN,1,NaN,Positive,0.058647
486,1d9965d8042148b7854ba7c1377423402878079f,Craig Gordon insists it’s wrong to bill Sunday...,Rangers and Celtic will play each other in the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,Positive,0.038258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13953,fa372ff9f45e6da581c7138cc5e19cdd80f71277,(CNN) -- Leandro Benitez scored both goals as ...,Leandro Benitez scores both goals as Estudiant...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,Positive,0.001042
13958,fa583af33efc252f6dd9a58689dc1803f0d71202,Brazil World Cup winner Ronaldo was left to wa...,Spain's Rafael Nadal beat former Brazil strike...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,Negative,-0.001587
14025,fc2ade72243f8a9b6f6accada87fe9c3eca34ec1,"Seoul, South Korea (CNN) -- South Korea's fore...",Kim Sung-hwan says possibility being considere...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,Positive,0.016250
14105,fedbd58e692f42367c274b8e61908bc5920b3136,North Koreans were treated to a exhibition of ...,Pro wrestling exhibition held in Pyongyang for...,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,Positive,0.007798
14140,ffce2c6f009f4b3bd077d76d67d220f8ba9b74eb,By . Tara Brady . Brighton College headteacher...,Emma Knights is head of the National Governors...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN,Negative,-0.015921

In [10]:
#counting number of instances of values of topics of each list in each article and setting the value of topic value column
#for the article as 1 if it the count exceeds a threshold value
import re
t = 2
data_politicians_arr = data_politicians.to_numpy()
for i in range(len(politicians_updated)):
    word = politicians_updated[i,0]
    for j in range(len(data_politicians_arr)):
        string = data_politicians_arr[j,1]
        c = len(re.findall(word, string,flags=re.IGNORECASE)) 
        if c >= t:
            data_politicians[politicians_updated[i,0]].values[j] = 1
        c = 0
data_politicians

,id,article,highlights,Biden,Trump,Sanders,Harris,Pence,Warren,Bloomberg,...,Beto,Cheney,Cruz,DeSantis,Haley,Abott,Newsom,Noem,Cortez,Pompeo
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,"Claudia Yanira Hernandez Soriano, 25, and Juan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,'I'll never eat a king prawn again' says Wicke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...","Unveiling at 10am PST, 6pm GMT .\nInvitation i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Sportsmail columnist Martin Keown was honoured...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,English champion Manchester City posts loss of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,ffed6787eff6f1e01c8019328f5dcd53c697ad07,"By . Becky Evans . PUBLISHED: . 15:08 EST, 3 A...","PC Eileen Arthurs, 52, accessed the police nat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14144,ffee67cf410c32857f263cb5b8a15b492194ac53,(CNN) -- A late Sergio Ramos goal earned Real ...,Sergio Ramos headed goal earns Real Madrid sec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14145,fff95a57a982743cc4752dc154a8f7ba701304a5,By . Stephanie Linning . A reclusive pensioner...,Denis Walsby was found underneath stack of pap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14146,fffb34770ef63478d7f1154bc473f95f1efbc769,"Much like Sam from the Dr. Seuss book, 'Green ...",'It tastes like cow poop!' said one young boy ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14147,fffc82af3daa218f2e08e69ec325c2e1847a5490,Real Madrid are looking to extend their 21-gam...,Real Madrid beat San Lorenzo in Club World Cup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#x = data_politicians[data_politicians['Biden'] == 1]
#x

,id,article,highlights,Biden,Trump,Sanders,Harris,Pence,Warren,Bloomberg,...,Cruz,DeSantis,Haley,Abott,Newsom,Noem,Cortez,Pompeo,Analysis,Polarity
905,3616ba0af1c490c8b596424b04bc7745c78ac60c,Vice President Joe Biden has become well known...,Vice President Joe Biden was seen getting very...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.054209
1184,45b8e099eebfd8a8c02f6b9a949c5c1ddab3cf69,"By . David Martosko, U.s. Political Editor . P...",Obama spokesman Jay Carney coyly told reporter...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.014117
2166,7cd8b95094a2a1ddfb523e9c01ca98112e379ef3,"By . Reuters . PUBLISHED: . 18:05 EST, 26 Nove...",Two unarmed U.S. B-52 bombers on a training mi...,1,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.083883
2328,87a6ec8b7a5e41c4eec57c56a0c2a7fbb4b893c7,By . Lee Moran . Last updated at 4:55 PM on 17...,U.S. Vice President warned against quantative ...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.076296
3922,e2e3fb9fab5d2e9473325695d744738b53223552,A U.S. Navy guided missile cruiser took evasiv...,U.S. Navy ship forced to come to an abrupt sto...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.008970
4035,e902305b5da40778914b341835249c121f5bce5e,(CNN) -- Like many immigrant parents of Centra...,Parents wait for weeks wondering if their chil...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.038733
4231,f451a7f84d63ca85e6334284c4d54385498ef4d7,At least two of the three men involved in a po...,Some officials linking threat to al Qaeda chie...,1,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.071202
4765,09aea3b860a68bc7c0ba716eab5ca1f75d43cd0d,"DORCHESTER, Massachusetts (CNN) -- Friends, f...","Joseph Kennedy: ""He had such a big heart, and ...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.113727
4995,0fd634641984344d450b11d990250c53136f5de3,(CNN) -- Cheers in Moscow. Outrage in Kiev. Bl...,"NEW: Putin, Russia ""on the wrong side of histo...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.004211
5333,18800465a68dd65a18bfd154b4ff4bfaa724671b,Washington (CNN) -- President Barack Obama on ...,"NEW: Decline in U.S. college degrees is ""a hug...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.058452
6481,379b02e3fa828727641114b2316e3944c6cc7ba3,Washington (CNN)The 2016 calculations of three...,Why Rubio is excited about a potential Romney ...,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.021368
6705,3d7413c535773094110100aafd7e5718ff42282c,"(CNN)With her hijab, Yusor Mohammad Abu-Salha ...",Deah Shaddy Barakat's sister says the killings...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.074038
6894,428c20b0c22d3aff0621766972906023a800801c,Baghdad (CNN) -- Two days after Russian and Ir...,Russia has agreed to sell $4.2 billion in arms...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.025198
6995,4568ce60763dd5c936d267e9d33c2a70a9b25757,"By . Toby Harnden In Charlotte, North Carolina...",Vice President plays 'attack dog' role as he t...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.070606
7092,48381851e59858e1df906f2faf7e381e71e3a7e1,By . Associated Press and Daily Mail Reporter ...,President Obama and Mitt Romney both take time...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.111755
8216,652de7b595a0b80547e0e17a0e73fa613867c13d,Washington (CNN) -- Days before the one-year a...,GOP says Obama campaign has turned Osama bin L...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.093606
8919,7818f75f9f69a940cb71d3c3d84a62cbbc228d4b,"Princeton, New Jersey (CNN) -- The fact-checke...",Julian Zelizer: Fact checking has grown tremen...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.039123
9202,7f187a3856c04bcc039be7291109a9bbb931714c,"DENVER, Colorado (CNN) -- The last place Kathy...",The Republican Party held a happy hour for Hil...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.102625
9444,84c9cc7e669c2c986d9b57c2836a6ed2c70d19b9,By . Daily Mail Reporter . PUBLISHED: . 18:34 ...,Caroline Biden was arrested after getting into...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.014449
9485,85e9b9636230943861787b551477cade1cfd8c2e,(CNN) -- Amid solemn commemorations on Tuesday...,"NEW: Mitt Romney calls for a strong military, ...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.024531
10069,93c7f9a5d364c9a6371984ee99b70d4450a30e0d,"Washington (CNN) -- For Joe Biden, an evenly d...",Joe Biden could play a key role in an evenly d...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.080269
10488,9f29f14896f62b7642e379a5e22884756c547f6e,Vice President Joe Biden came to the defense o...,Democratic National Committee Chair Debbie Was...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.100430
11425,b6eaefb43410c74b5e6233e4a42f819493139356,(CNN) -- Sen. Chris Dodd's announcement that h...,"Dodd faced deaths of sister and Sen. Kennedy, ...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.057601
11840,c1ad69f76acfc789c3b04bdbb35df66ea72c76bd,WASHINGTON (CNN) -- Vice President Joe Biden s...,Vice president has swine flu advice for family...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.020879
12230,cc1c4c77e0903790d3b086cb43b70bb32568d9a7,(CNN) -- A federal task force looking for ways...,White House task force meeting was disappointi...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.063253
13638,f1c384d8fac5578c4c567d026781ed010ae25cdf,"Munich, Germany (CNN) -- Iran will give ""posit...","The U.S. needs a ""fair and real intention"" to ...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.089059
13715,f3a08c68e659a13a08cca163abec3bac0fa8f248,Vice President Joe Biden insisted on Monday th...,"The vice president spoke to a Latino audience,...",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.007299

In [12]:
#counting number of instances of values of topics of each list in each article and setting the value of topic value column
#for the article as 1 if it the count exceeds a threshold value
#import re
#t = 2
#data_issues_arr = data_issues.to_numpy()
#for i in range(len(issues_updated)):
    #word = issues_updated[i,0]
    #for j in range(len(data_issues_arr)):
        #string = data_issues_arr[j,1]
        #c = len(re.findall(word, string,flags=re.IGNORECASE)) 
        #if c >= t:
            #data_issues[issues_updated[i,0]].values[j] = 1
        #c = 0
#data_issues

In [13]:
#x = data_issues[data_issues['Abortion Rights'] == 1]
#x

In [14]:
#counting number of instances of values of topics of each list in each article and setting the value of topic value column
#for the article as 1 if it the count exceeds a threshold value
#import re
#t = 5
#data_states_arr = data_states.to_numpy()
#for i in range(len(states_updated)):
    #word = states_updated[i,0]
    #for j in range(len(data_states_arr)):
        #string = data_states_arr[j,1]
        #c = len(re.findall(word, string,flags=re.IGNORECASE)) 
        #if c >= t:
            #data_states[states_updated[i,0]].values[j] = 1
        #c = 0
#data_states

In [15]:
#x = data_states[data_states['Alabama'] == 1]
#x

In [16]:
articles = data_countries[['id', 'article']].copy()

In [17]:
# Define a function to clean the articles text
def clean(text):
# Removes all special characters and numericals leaving the alphabets
    text = re.sub('[^A-Za-z]+', ' ', text)
    return text

# Cleaning the text in the article column
articles['cleaned articles'] = articles['article'].apply(clean)
articles.head()

,id,article,cleaned articles
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,A woman has been charged with reckless manslau...
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,These days we pick up a packet of frozen prawn...
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...",By Rob Waugh UPDATED EST September Apple has m...
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Earlier this season I picked Thierry Henry as ...
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,CNN Big spending English club Manchester City...

In [18]:
#import nltk
#nltk.download()

In [19]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk import pos_tag
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')
from nltk.corpus import wordnet

# POS tagger dictionary
pos_dict = {'J':wordnet.ADJ, 'V':wordnet.VERB, 'N':wordnet.NOUN, 'R':wordnet.ADV}
def token_stop_pos(text):
    tags = pos_tag(word_tokenize(text))
    newlist = []
    for word, tag in tags:
        if word.lower() not in set(stopwords.words('english')):
            newlist.append(tuple([word, pos_dict.get(tag[0])]))
    return newlist

articles['POS tagged'] = articles['cleaned articles'].apply(token_stop_pos)
articles.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\prateeksh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\prateeksh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\prateeksh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,id,article,cleaned articles,POS tagged
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,A woman has been charged with reckless manslau...,"[(woman, n), (charged, v), (reckless, a), (man..."
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,These days we pick up a packet of frozen prawn...,"[(days, n), (pick, v), (packet, n), (frozen, a..."
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...",By Rob Waugh UPDATED EST September Apple has m...,"[(Rob, n), (Waugh, n), (UPDATED, n), (EST, n),..."
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Earlier this season I picked Thierry Henry as ...,"[(Earlier, r), (season, n), (picked, v), (Thie..."
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,CNN Big spending English club Manchester City...,"[(CNN, n), (Big, n), (spending, n), (English, ..."

In [20]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatize(pos_data):
    lemma_rew = " "
    for word, pos in pos_data:
        if not pos:
            lemma = word
            lemma_rew = lemma_rew + " " + lemma
        else:
            lemma = wordnet_lemmatizer.lemmatize(word, pos=pos)
            lemma_rew = lemma_rew + " " + lemma
    return lemma_rew

articles['Lemma'] = articles['POS tagged'].apply(lemmatize)
articles.head()

,id,article,cleaned articles,POS tagged,Lemma
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,A woman has been charged with reckless manslau...,"[(woman, n), (charged, v), (reckless, a), (man...",woman charge reckless manslaughter boyfriend...
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,These days we pick up a packet of frozen prawn...,"[(days, n), (pick, v), (packet, n), (frozen, a...",day pick packet frozen prawn supermarket alm...
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...",By Rob Waugh UPDATED EST September Apple has m...,"[(Rob, n), (Waugh, n), (UPDATED, n), (EST, n),...",Rob Waugh UPDATED EST September Apple make l...
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Earlier this season I picked Thierry Henry as ...,"[(Earlier, r), (season, n), (picked, v), (Thie...",Earlier season pick Thierry Henry great ever...
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,CNN Big spending English club Manchester City...,"[(CNN, n), (Big, n), (spending, n), (English, ...",CNN Big spending English club Manchester Cit...

In [21]:
from textblob import TextBlob
# function to calculate subjectivity
def getSubjectivity(article):
    return TextBlob(article).sentiment.subjectivity

# function to calculate polarity
def getPolarity(article):
    return TextBlob(article).sentiment.polarity

# function to analyze the articles
def analysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

# fin_data['Subjectivity'] = fin_data['Lemma'].apply(getSubjectivity) 
articles['Polarity'] = articles['Lemma'].apply(getPolarity) 
articles['Analysis'] = articles['Polarity'].apply(analysis)
articles.head()

,id,article,cleaned articles,POS tagged,Lemma,Polarity,Analysis
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,A woman has been charged with reckless manslau...,"[(woman, n), (charged, v), (reckless, a), (man...",woman charge reckless manslaughter boyfriend...,0.025455,Positive
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,These days we pick up a packet of frozen prawn...,"[(days, n), (pick, v), (packet, n), (frozen, a...",day pick packet frozen prawn supermarket alm...,-0.005938,Negative
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...",By Rob Waugh UPDATED EST September Apple has m...,"[(Rob, n), (Waugh, n), (UPDATED, n), (EST, n),...",Rob Waugh UPDATED EST September Apple make l...,0.109265,Positive
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Earlier this season I picked Thierry Henry as ...,"[(Earlier, r), (season, n), (picked, v), (Thie...",Earlier season pick Thierry Henry great ever...,0.345833,Positive
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,CNN Big spending English club Manchester City...,"[(CNN, n), (Big, n), (spending, n), (English, ...",CNN Big spending English club Manchester Cit...,0.066291,Positive

In [22]:
#data_states['Analysis'] = articles['Analysis']
#data_states['Polarity'] = articles['Polarity']
data_countries['Analysis'] = articles['Analysis']
data_countries['Polarity'] = articles['Polarity']
#data_issues['Analysis'] = articles['Analysis']
#data_issues['Polarity'] = articles['Polarity']
data_politicians['Analysis'] = articles['Analysis']
data_politicians['Polarity'] = articles['Polarity']

In [52]:
#data_politicians.head()
data_countries

,id,article,highlights,United States,China,Japan,Germany,United Kingdom,India,France,Italy,Canada,South Korea,Russia,Brazil,Australia,Spain,Mexico,Analysis,Polarity
0,00128f1ba30d5e9e0f17df83285a1bc2072e2f01,A woman has been charged with reckless manslau...,"Claudia Yanira Hernandez Soriano, 25, and Juan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.025455
1,001ee59c375363263821474d40e4386ab91d5145,These days we pick up a packet of frozen prawn...,'I'll never eat a king prawn again' says Wicke...,NaN,1,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.005938
2,00672d5c2055608b747a90a0f5ae32c5b340173e,"By . Rob Waugh . UPDATED: . 04:54 EST, 28 Sept...","Unveiling at 10am PST, 6pm GMT .\nInvitation i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.109265
3,006bca7d18b3c6889ce567133566d22e491d27c1,Earlier this season I picked Thierry Henry as ...,Sportsmail columnist Martin Keown was honoured...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.345833
4,009e53253b0ba1823c4a08dfd6e4446ca9b02388,(CNN) -- Big-spending English club Manchester ...,English champion Manchester City posts loss of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.066291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,ffed6787eff6f1e01c8019328f5dcd53c697ad07,"By . Becky Evans . PUBLISHED: . 15:08 EST, 3 A...","PC Eileen Arthurs, 52, accessed the police nat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.021780
14144,ffee67cf410c32857f263cb5b8a15b492194ac53,(CNN) -- A late Sergio Ramos goal earned Real ...,Sergio Ramos headed goal earns Real Madrid sec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.096545
14145,fff95a57a982743cc4752dc154a8f7ba701304a5,By . Stephanie Linning . A reclusive pensioner...,Denis Walsby was found underneath stack of pap...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative,-0.007061
14146,fffb34770ef63478d7f1154bc473f95f1efbc769,"Much like Sam from the Dr. Seuss book, 'Green ...",'It tastes like cow poop!' said one young boy ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,Positive,0.033207
14147,fffc82af3daa218f2e08e69ec325c2e1847a5490,Real Madrid are looking to extend their 21-gam...,Real Madrid beat San Lorenzo in Club World Cup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,0.114646

In [24]:
#spectral analysis for politicians
#creating adjacency matrix
n,m = data_politicians.shape
A = np.empty((n, n))
D = np.empty((n, n))

data_politicians_arr = data_politicians.to_numpy()
for i in range(len(data_politicians_arr)):
    for j in range(len(data_politicians_arr)):
        topic_count = 0
        if i == j:
            continue
        else:
            for k in range(3,m-2):
                if data_politicians_arr[i,k] == 'NaN':
                    continue
                elif data_politicians_arr[i,k] == data_politicians_arr[j,k]:
                    topic_count = topic_count + 1
        A[i][j] = topic_count

In [25]:
print(A)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [30]:
#B = np.where(A[1000:2000,:] != 0)
#print(B)

(array([ 65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
       166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166,
       166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166,
       166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166, 166,
       166, 166, 166, 166, 166, 166, 166, 166, 184, 184, 184, 184, 184,
       184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184,
       184, 184, 184, 184, 184, 184, 184, 184, 202, 202, 202, 202, 202,
       202, 202, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213, 213,
       213, 213, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226,
       226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226,
       226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226, 226,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310, 310,
       320, 320, 320, 320, 320, 320, 320, 320, 320, 320, 320, 320, 320,
       320, 320, 320, 320, 320, 320, 320, 320, 320, 320, 320, 320, 320,
       320, 320, 320, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488, 488,
       488, 488, 488, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515, 515,
       515, 515, 515, 599, 599, 599, 599, 599, 599, 599, 599, 599, 599,
       599, 599, 599, 599, 599, 599, 599, 599, 599, 599, 599, 599, 599,
       599, 599, 599, 599, 599, 599, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689, 689,
       689, 689, 689, 689, 689, 689, 692, 692, 692, 692, 692, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694,
       694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 694, 698, 698,
       698, 698, 698, 698, 698, 698, 698, 698, 698, 698, 698, 698, 698,
       698, 698, 698, 698, 698, 698, 698, 698, 698, 698, 698, 698, 698,
       698, 698, 698, 718, 718, 718, 718, 718, 718, 718, 718, 718, 718,
       718, 718, 718, 718, 718, 718, 718, 718, 718, 718, 718, 718, 718,
       718, 718, 718, 718, 718, 718, 913, 913, 913, 913, 913, 913, 913,
       913, 913, 913, 913, 913, 913, 913, 913, 913, 913, 913, 913, 913,
       913, 913, 913, 913, 913, 913, 913, 913, 913, 913, 913], dtype=int64), array([   58,   251,   368,   793,   883,   971,   998,  1213,  1310,
        1488,  1515,  1689,  1694,  2405,  2513,  2585,  2595,  2725,
        2743,  2942,  3112,  3182,  3239,  3830,  4043,  4070,  4348,
        4507,  4581,  4677,  4861,  4864,  4928,  5075,  5189,  5197,
        5254,  5302,  5354,  5545,  5896,  6466,  6482,  6789,  6975,
        7002,  7087,  7101,  7103,  7501,  7692,  7808,  8595,  8688,
        8806,  8823,  8878,  9027,  9145,  9354,  9406,  9416,  9422,
        9571,  9688,  9984, 10079, 10089, 10168, 10374, 10425, 10541,
       10597, 10740, 10782, 10901, 11016, 11018, 11216, 11217, 11354,
       11469, 11587, 11703, 11877, 12054, 12105, 12186, 12267, 12685,
       12705, 12986, 13189, 13269, 13337, 13347, 13567, 13681, 13795,
       13825, 13878, 13948, 14005, 14073,   409,   455,   950,   960,
        2521,  2609,  2752,  2841,  3676,  4834,  5489,  5677,  6216,
        6246,  7014,  7088,  7219,  7445,  7512,  8133,  8473,  8985,
        9022,  9079, 10709, 10795, 10842, 11095, 11103, 11472, 11493,
       11518, 11717, 11805, 11918, 11954, 12101, 12483, 12496, 12640,
       12704, 12881, 12962, 13202, 13535, 13916, 14086,   905,  2166,
        2328,  3922,  4035,  4231,  4765,  4995,  5333,  6481,  6705,
        6894,  6995,  7092,  8216,  8919,  9202,  9444,  9485, 10069,
       10488, 11425, 11840, 12230, 13638, 13715,  2223,  3610,  4892,
        5388,  8230,  9875, 13303,    58,   251,   368,   793,   883,
         971,   998,  1065,  1310,  1488,  1515,  1689,  1694,  2405,
        2513,  2585,  2595,  2725,  2743,  2942,  3112,  3182,  3239,
        3830,  4043,  4070,  4348,  4507,  4581,  4677,  4861,  4864,
        4928,  5075,  5189,  5197,  5254,  5302,  5354,  5545,  5896,
        6466,  6482,  6789,  6975,  7002,  7087,  7101,  7103,  7501,
        7692,  7808,  8595,  8688,  8806,  8823,  8878,  9027,  9145,
        9354,  9406,  9416,  9422,  9571,  9688,  9984, 10079, 10089,
       10168, 10374, 10425, 10541, 10597, 10740, 10782, 10901, 11016,
       11018, 11216, 11217, 11354, 11469, 11587, 11703, 11877, 12054,
       12105, 12186, 12267, 12685, 12705, 12986, 13189, 13269, 13337,
       13347, 13567, 13681, 13795, 13825, 13878, 13948, 14005, 14073,
         315,   415,   746,  2687,  4094,  4265,  4502,  4558,  5051,
        5363,  5505,  5833,  6097,  6127,  6200,  6583,  6626,  7595,
        7850,  8037,  8217,  9002,  9038,  9341, 10186, 10253, 10483,
       10522, 11233, 11391, 11512, 12140, 12503, 12636, 12781, 12967,
       13128,    58,   251,   368,   793,   883,   971,   998,  1065,
        1213,  1488,  1515,  1689,  1694,  2405,  2513,  2585,  2595,
        2725,  2743,  2942,  3112,  3182,  3239,  3830,  4043,  4070,
        4348,  4507,  4581,  4677,  4861,  4864,  4928,  5075,  5189,
        5197,  5254,  5302,  5354,  5545,  5896,  6466,  6482,  6789,
        6975,  7002,  7087,  7101,  7103,  7501,  7692,  7808,  8595,
        8688,  8806,  8823,  8878,  9027,  9145,  9354,  9406,  9416,
        9422,  9571,  9688,  9984, 10079, 10089, 10168, 10374, 10425,
       10541, 10597, 10740, 10782, 10901, 11016, 11018, 11216, 11217,
       11354, 11469, 11587, 11703, 11877, 12054, 12105, 12186, 12267,
       12685, 12705, 12986, 13189, 13269, 13337, 13347, 13567, 13681,
       13795, 13825, 13878, 13948, 14005, 14073,  1599,  1718,  2490,
        2641,  2817,  3677,  3770,  4575,  4785,  4925,  4971,  5520,
        6135,  6467,  6481,  6882,  7024,  7796,  8797, 10178, 10281,
       10447, 11676, 12984, 13082, 13181, 13308, 13990, 14106,    58,
         251,   368,   793,   883,   971,   998,  1065,  1213,  1310,
        1515,  1689,  1694,  2405,  2513,  2585,  2595,  2725,  2743,
        2942,  3112,  3182,  3239,  3830,  4043,  4070,  4348,  4507,
        4581,  4677,  4861,  4864,  4928,  5075,  5189,  5197,  5254,
        5302,  5354,  5545,  5896,  6466,  6482,  6789,  6975,  7002,
        7087,  7101,  7103,  7501,  7692,  7808,  8595,  8688,  8806,
        8823,  8878,  9027,  9145,  9354,  9406,  9416,  9422,  9571,
        9688,  9984, 10079, 10089, 10168, 10374, 10425, 10541, 10597,
       10740, 10782, 10901, 11016, 11018, 11216, 11217, 11354, 11469,
       11587, 11703, 11877, 12054, 12105, 12186, 12267, 12685, 12705,
       12986, 13189, 13269, 13337, 13347, 13567, 13681, 13795, 13825,
       13878, 13948, 14005, 14073,    58,   251,   368,   793,   883,
         971,   998,  1065,  1213,  1310,  1488,  1689,  1694,  2405,
        2513,  2585,  2595,  2725,  2743,  2942,  3112,  3182,  3239,
        3830,  4043,  4070,  4348,  4507,  4581,  4677,  4861,  4864,
        4928,  5075,  5189,  5197,  5254,  5302,  5354,  5545,  5896,
        6466,  6482,  6789,  6975,  7002,  7087,  7101,  7103,  7501,
        7692,  7808,  8595,  8688,  8806,  8823,  8878,  9027,  9145,
        9354,  9406,  9416,  9422,  9571,  9688,  9984, 10079, 10089,
       10168, 10374, 10425, 10541, 10597, 10740, 10782, 10901, 11016,
       11018, 11216, 11217, 11354, 11469, 11587, 11703, 11877, 12054,
       12105, 12186, 12267, 12685, 12705, 12986, 13189, 13269, 13337,
       13347, 13567, 13681, 13795, 13825, 13878, 13948, 14005, 14073,
        1320,  1718,  2490,  2641,  2817,  3677,  3770,  4575,  4785,
        4925,  4971,  5520,  6135,  6467,  6481,  6882,  7024,  7796,
        8797, 10178, 10281, 10447, 11676, 12984, 13082, 13181, 13308,
       13990, 14106,    58,   251,   368,   793,   883,   971,   998,
        1065,  1213,  1310,  1488,  1515,  1694,  2405,  2513,  2585,
        2595,  2725,  2743,  2942,  3112,  3182,  3239,  3830,  4043,
        4070,  4348,  4507,  4581,  4677,  4861,  4864,  4928,  5075,
        5189,  5197,  5254,  5302,  5354,  5545,  5896,  6466,  6482,
        6789,  6975,  7002,  7087,  7101,  7103,  7501,  7692,  7808,
        8595,  8688,  8806,  8823,  8878,  9027,  9145,  9354,  9406,
        9416,  9422,  9571,  9688,  9984, 10079, 10089, 10168, 10374,
       10425, 10541, 10597, 10740, 10782, 10901, 11016, 11018, 11216,
       11217, 11354, 11469, 11587, 11703, 11877, 12054, 12105, 12186,
       12267, 12685, 12705, 12986, 13189, 13269, 13337, 13347, 13567,
       13681, 13795, 13825, 13878, 13948, 14005, 14073,  3579,  4435,
        5514,  6619, 13026,    58,   251,   368,   793,   883,   971,
         998,  1065,  1213,  1310,  1488,  1515,  1689,  2405,  2513,
        2585,  2595,  2725,  2743,  2942,  3112,  3182,  3239,  3830,
        4043,  4070,  4348,  4507,  4581,  4677,  4861,  4864,  4928,
        5075,  5189,  5197,  5254,  5302,  5354,  5545,  5896,  6466,
        6482,  6789,  6975,  7002,  7087,  7101,  7103,  7501,  7692,
        7808,  8595,  8688,  8806,  8823,  8878,  9027,  9145,  9354,
        9406,  9416,  9422,  9571,  9688,  9984, 10079, 10089, 10168,
       10374, 10425, 10541, 10597, 10740, 10782, 10901, 11016, 11018,
       11216, 11217, 11354, 11469, 11587, 11703, 11877, 12054, 12105,
       12186, 12267, 12685, 12705, 12986, 13189, 13269, 13337, 13347,
       13567, 13681, 13795, 13825, 13878, 13948, 14005, 14073,   133,
         150,   403,   512,   661,  1913,  2002,  2027,  2166,  3614,
        3669,  3724,  3868,  3959,  4168,  5220,  5321,  6604,  7311,
        8251,  9075,  9285,  9384,  9675, 10236, 10837, 10843, 11875,
       12745, 13190, 13237,  1320,  1599,  2490,  2641,  2817,  3677,
        3770,  4575,  4785,  4925,  4971,  5520,  6135,  6467,  6481,
        6882,  7024,  7796,  8797, 10178, 10281, 10447, 11676, 12984,
       13082, 13181, 13308, 13990, 14106,   133,   150,   403,   512,
         661,  1698,  2002,  2027,  2166,  3614,  3669,  3724,  3868,
        3959,  4168,  5220,  5321,  6604,  7311,  8251,  9075,  9285,
        9384,  9675, 10236, 10837, 10843, 11875, 12745, 13190, 13237],
      dtype=int64))

In [31]:
D = np.diag(A.sum(axis=1))
print(D)
L = D-A
print(L)

from numpy import linalg as LA
from sklearn.cluster import KMeans

w, v = LA.eigh(L)
# w and v are eignevalue vector and eignevectors matrix#
print(w)
print(v)
print(w.shape)
print(v.shape)

kmeans = KMeans(n_clusters=4)
kmeans.fit(v[:,0:3])
labels = kmeans.labels_
print(labels.shape)
print(labels)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[-1.14462781e-13 -1.09141038e-13 -1.01954257e-13 ...  1.05000000e+02
  1.05000000e+02  1.05000000e+02]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(14148,)
(14148, 14148)
(14148,)
[0 0 0 ... 0 0 0]

In [28]:
#spectral analysis for countries
#creating adjacency matrix
n2,m2 = data_countries.shape
A2 = np.empty((n2, n2))
D2 = np.empty((n2, n2))

data_countries_arr = data_countries.to_numpy()
for i in range(len(data_countries_arr)):
    for j in range(len(data_countries_arr)):
        topic_count = 0
        if i == j:
            continue
        else:
            for k in range(3,m2-2):
                if data_countries_arr[i,k] == 'NaN':
                    continue
                elif data_countries_arr[i,k] == data_countries_arr[j,k]:
                    topic_count = topic_count + 1
        A2[i][j] = topic_count

In [32]:
print(A2)
D2 = np.diag(A2.sum(axis=1))
print(D2)
L2 = D2-A2
print(L2)

from numpy import linalg as LA
from sklearn.cluster import KMeans

w2, v2 = LA.eigh(L2)
# w and v are eignevalue vector and eignevectors matrix#
print(w2)
print(v2)
print(w2.shape)
print(v2.shape)

kmeans = KMeans(n_clusters=4)
kmeans.fit(v2[:,0:3])
labels2 = kmeans.labels_
print(labels2.shape)
print(labels2)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[   0.    0.    0. ...    0.    0.    0.]
 [   0. 2099.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]
 ...
 [   0.    0.    0. ...  614.    0.    0.]
 [   0.    0.    0. ...    0.  491.    0.]
 [   0.    0.    0. ...    0.    0.    0.]]
[[   0.    0.    0. ...    0.    0.    0.]
 [   0. 2099.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]
 ...
 [   0.    0.    0. ...  614.    0.    0.]
 [   0.    0.    0. ...    0.  491.    0.]
 [   0.    0.    0. ...    0.    0.    0.]]
[-4.88421658e-12 -4.76796376e-12 -4.68681488e-12 ...  5.94094204e+03
  6.27347652e+03  6.60374197e+03]
[[ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  3.11895752e-04
  -5.32120988e-04 -4.87464666e-04]
 [-3.44690217e-02  3.15717478e-02 -8.05066793e-03 ... -3.69234546e-18
   1.26752330e-18  4.88289130e-18]
 ...
 [ 2.35055031e-16  4.92795298e-17  3.32266615e-17 ...  1.14596183e-04
  -1.24227184e-04 -1.14390956e-04]
 [ 2.11636264e-16  1.33137367e-16 -5.34875296e-17 ...  1.41091253e-04
   1.72999646e-05 -1.30643188e-04]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]]
(14148,)
(14148, 14148)
(14148,)
[0 0 2 ... 0 0 0]

In [40]:
print(np.sum(labels == 0))
print(np.sum(labels == 1))
print(np.sum(labels == 2))
print(np.sum(labels == 3))

13576
177
173
222

In [41]:
print(np.sum(labels2 == 0))
print(np.sum(labels2 == 1))
print(np.sum(labels2 == 2))
print(np.sum(labels2 == 3))

12990
528
139
491

In [49]:
#calculating majority sentiment label for each cluster for politicians
k = 4
major_label=np.empty(k, dtype=object)
mismatch_rate=np.empty(k, dtype=float)
for i in range(k):
    sum_senti_label = 0
    count = 0
    mismatch_count = 0
    for j in range(len(labels)):
        if labels[j] == i:
            if data_politicians_arr[j,21] == 'Positive':
                sum_senti_label = sum_senti_label + 1
            count = count + 1
    if sum_senti_label >= (count/2):
        major_label[i] = 'Positive'
    else:
        major_label[i] = 'Negative'
    for j in range(len(labels)):
        if labels[j] == i:
            if data_politicians_arr[j,21] != major_label[i]:
                mismatch_count = mismatch_count + 1
    mismatch_rate[i] = ((mismatch_count/count) * 100)
    print("The majority sentiment for cluster " + str(i) + " is " + str(major_label[i]))
    print("The mismatch rate for cluster " + str(i) + " is " + str(mismatch_rate[i]))

print(major_label)
print(mismatch_rate)

The majority sentiment for cluster 0 is Positive
The mismatch rate for cluster 0 is 21.33176193282263
The majority sentiment for cluster 1 is Positive
The mismatch rate for cluster 1 is 27.683615819209038
The majority sentiment for cluster 2 is Positive
The mismatch rate for cluster 2 is 17.341040462427745
The majority sentiment for cluster 3 is Positive
The mismatch rate for cluster 3 is 20.72072072072072
['Positive' 'Positive' 'Positive' 'Positive']
[21.33176193 27.68361582 17.34104046 20.72072072]

In [57]:
#calculating majority sentiment label for each cluster for countries
k = 4
major_label2=np.empty(k, dtype=object)
mismatch_rate2=np.empty(k, dtype=float)
for i in range(k):
    sum_senti_label = 0
    count = 0
    mismatch_count = 0
    for j in range(len(labels2)):
        if labels2[j] == i:
            if data_countries_arr[j,18] == 'Positive':
                sum_senti_label = sum_senti_label + 1
            count = count + 1
    if sum_senti_label >= (count/2):
        major_label2[i] = 'Positive'
    else:
        major_label2[i] = 'Negative'
    for j in range(len(labels2)):
        if labels2[j] == i:
            if data_countries_arr[j,18] != major_label2[i]:
                mismatch_count = mismatch_count + 1
    mismatch_rate2[i] = ((mismatch_count/count) * 100)
    print("The majority sentiment for cluster " + str(i) + " is " + str(major_label2[i]))
    print("The mismatch rate for cluster " + str(i) + " is " + str(mismatch_rate2[i]))

print(major_label2)
print(mismatch_rate2)

The majority sentiment for cluster 0 is Positive
The mismatch rate for cluster 0 is 20.939483707151926
The majority sentiment for cluster 1 is Positive
The mismatch rate for cluster 1 is 21.84873949579832
The majority sentiment for cluster 2 is Positive
The mismatch rate for cluster 2 is 26.36986301369863
The majority sentiment for cluster 3 is Positive
The mismatch rate for cluster 3 is 22.093023255813954
['Positive' 'Positive' 'Positive' 'Positive']
[20.93948371 21.8487395  26.36986301 22.09302326]

In [54]:
#repeating the analysis for k = 10
D = np.diag(A.sum(axis=1))
print(D)
L = D-A
print(L)

from numpy import linalg as LA
from sklearn.cluster import KMeans

w, v = LA.eigh(L)
# w and v are eignevalue vector and eignevectors matrix#
print(w)
print(v)
print(w.shape)
print(v.shape)

kmeans = KMeans(n_clusters=10)
kmeans.fit(v[:,0:9])
labels = kmeans.labels_
print(labels.shape)
print(labels)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[-1.14462781e-13 -1.09141038e-13 -1.01954257e-13 ...  1.05000000e+02
  1.05000000e+02  1.05000000e+02]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(14148,)
(14148, 14148)
(14148,)
[0 0 0 ... 0 0 0]

In [55]:
print(A2)
D2 = np.diag(A2.sum(axis=1))
print(D2)
L2 = D2-A2
print(L2)

from numpy import linalg as LA
from sklearn.cluster import KMeans

w2, v2 = LA.eigh(L2)
# w and v are eignevalue vector and eignevectors matrix#
print(w2)
print(v2)
print(w2.shape)
print(v2.shape)

kmeans = KMeans(n_clusters=10)
kmeans.fit(v2[:,0:9])
labels2 = kmeans.labels_
print(labels2.shape)
print(labels2)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[   0.    0.    0. ...    0.    0.    0.]
 [   0. 2099.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]
 ...
 [   0.    0.    0. ...  614.    0.    0.]
 [   0.    0.    0. ...    0.  491.    0.]
 [   0.    0.    0. ...    0.    0.    0.]]
[[   0.    0.    0. ...    0.    0.    0.]
 [   0. 2099.    0. ...    0.    0.    0.]
 [   0.    0.    0. ...    0.    0.    0.]
 ...
 [   0.    0.    0. ...  614.    0.    0.]
 [   0.    0.    0. ...    0.  491.    0.]
 [   0.    0.    0. ...    0.    0.    0.]]
[-4.88421658e-12 -4.76796376e-12 -4.68681488e-12 ...  5.94094204e+03
  6.27347652e+03  6.60374197e+03]
[[ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  3.11895752e-04
  -5.32120988e-04 -4.87464666e-04]
 [-3.44690217e-02  3.15717478e-02 -8.05066793e-03 ... -3.69234546e-18
   1.26752330e-18  4.88289130e-18]
 ...
 [ 2.35055031e-16  4.92795298e-17  3.32266615e-17 ...  1.14596183e-04
  -1.24227184e-04 -1.14390956e-04]
 [ 2.11636264e-16  1.33137367e-16 -5.34875296e-17 ...  1.41091253e-04
   1.72999646e-05 -1.30643188e-04]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]]
(14148,)
(14148, 14148)
(14148,)
[0 0 2 ... 0 0 0]

In [56]:
#calculating majority sentiment label for each cluster for politicians
k = 10
major_label=np.empty(k, dtype=object)
mismatch_rate=np.empty(k, dtype=float)
for i in range(k):
    sum_senti_label = 0
    count = 0
    mismatch_count = 0
    for j in range(len(labels)):
        if labels[j] == i:
            if data_politicians_arr[j,21] == 'Positive':
                sum_senti_label = sum_senti_label + 1
            count = count + 1
    if sum_senti_label >= (count/2):
        major_label[i] = 'Positive'
    else:
        major_label[i] = 'Negative'
    for j in range(len(labels)):
        if labels[j] == i:
            if data_politicians_arr[j,21] != major_label[i]:
                mismatch_count = mismatch_count + 1
    mismatch_rate[i] = ((mismatch_count/count) * 100)
    print("The majority sentiment for cluster " + str(i) + " is " + str(major_label[i]))
    print("The mismatch rate for cluster " + str(i) + " is " + str(mismatch_rate[i]))

print(major_label)
print(mismatch_rate)

The majority sentiment for cluster 0 is Positive
The mismatch rate for cluster 0 is 21.308325005765237
The majority sentiment for cluster 1 is Positive
The mismatch rate for cluster 1 is 18.75
The majority sentiment for cluster 2 is Positive
The mismatch rate for cluster 2 is 19.718309859154928
The majority sentiment for cluster 3 is Positive
The mismatch rate for cluster 3 is 22.36842105263158
The majority sentiment for cluster 4 is Positive
The mismatch rate for cluster 4 is 9.090909090909092
The majority sentiment for cluster 5 is Positive
The mismatch rate for cluster 5 is 22.52252252252252
The majority sentiment for cluster 6 is Positive
The mismatch rate for cluster 6 is 25.297619047619047
The majority sentiment for cluster 7 is Positive
The mismatch rate for cluster 7 is 18.446601941747574
The majority sentiment for cluster 8 is Positive
The mismatch rate for cluster 8 is 7.6923076923076925
The majority sentiment for cluster 9 is Positive
The mismatch rate for cluster 9 is 25.0
['Positive' 'Positive' 'Positive' 'Positive' 'Positive' 'Positive'
 'Positive' 'Positive' 'Positive' 'Positive']
[21.30832501 18.75       19.71830986 22.36842105  9.09090909 22.52252252
 25.29761905 18.44660194  7.69230769 25.        ]

In [64]:
print(np.sum(labels == 0))
print(np.sum(labels == 1))
print(np.sum(labels == 2))
print(np.sum(labels == 3))
print(np.sum(labels == 4))
print(np.sum(labels == 5))
print(np.sum(labels == 6))
print(np.sum(labels == 7))
print(np.sum(labels == 8))
print(np.sum(labels == 9))

13009
64
71
76
11
111
336
309
13
148

In [58]:
#calculating majority sentiment label for each cluster for countries
k = 10
major_label2=np.empty(k, dtype=object)
mismatch_rate2=np.empty(k, dtype=float)
for i in range(k):
    sum_senti_label = 0
    count = 0
    mismatch_count = 0
    for j in range(len(labels2)):
        if labels2[j] == i:
            if data_countries_arr[j,18] == 'Positive':
                sum_senti_label = sum_senti_label + 1
            count = count + 1
    if sum_senti_label >= (count/2):
        major_label2[i] = 'Positive'
    else:
        major_label2[i] = 'Negative'
    for j in range(len(labels2)):
        if labels2[j] == i:
            if data_countries_arr[j,18] != major_label2[i]:
                mismatch_count = mismatch_count + 1
    mismatch_rate2[i] = ((mismatch_count/count) * 100)
    print("The majority sentiment for cluster " + str(i) + " is " + str(major_label2[i]))
    print("The mismatch rate for cluster " + str(i) + " is " + str(mismatch_rate2[i]))

print(major_label2)
print(mismatch_rate2)

The majority sentiment for cluster 0 is Positive
The mismatch rate for cluster 0 is 20.939483707151926
The majority sentiment for cluster 1 is Positive
The mismatch rate for cluster 1 is 21.84873949579832
The majority sentiment for cluster 2 is Positive
The mismatch rate for cluster 2 is 26.36986301369863
The majority sentiment for cluster 3 is Positive
The mismatch rate for cluster 3 is 22.093023255813954
The majority sentiment for cluster 4 is Positive
The mismatch rate for cluster 4 is 25.336322869955158
The majority sentiment for cluster 5 is Positive
The mismatch rate for cluster 5 is 18.75
The majority sentiment for cluster 6 is Positive
The mismatch rate for cluster 6 is 22.590361445783135
The majority sentiment for cluster 7 is Positive
The mismatch rate for cluster 7 is 25.671641791044774
The majority sentiment for cluster 8 is Positive
The mismatch rate for cluster 8 is 19.475655430711612
The majority sentiment for cluster 9 is Positive
The mismatch rate for cluster 9 is 25.555555555555554
['Positive' 'Positive' 'Positive' 'Positive' 'Positive' 'Positive'
 'Positive' 'Positive' 'Positive' 'Positive']
[20.93948371 21.8487395  26.36986301 22.09302326 25.33632287 18.75
 22.59036145 25.67164179 19.47565543 25.55555556]

In [65]:
print(np.sum(labels2 == 0))
print(np.sum(labels2 == 1))
print(np.sum(labels2 == 2))
print(np.sum(labels2 == 3))
print(np.sum(labels2 == 4))
print(np.sum(labels2 == 5))
print(np.sum(labels2 == 6))
print(np.sum(labels2 == 7))
print(np.sum(labels2 == 8))
print(np.sum(labels2 == 9))

11815
357
292
86
446
128
332
335
267
90